$font-stack: Helvetica, sans-serif;
$main-color: #212529;
$secondary-color: #6c757d;
$btn-color: #007bff;
$btn-color-hover: #0069d9;
$bg-color: #343a40;
$alt-bg-color: #f8f9fa;

// reset 
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    font: 100% $font-stack;
    color: $main-color;
}
p {
    line-height: 1.5rem;
    margin-bottom: 16px;
}
a {
    line-height: 1.5rem;
}

.content {
    max-width: 1200px;
    margin: 0 auto;
}

#collapse {
    display: none;
}

// header
header {
    background-color: $bg-color;
    .content {
        display: flex;
        justify-content: space-between;
        div {
            display: flex;
            flex-direction: column;
            padding: 24px 15px;
            max-width: fit-content;
        }
        > div {
            min-width: 635px;
        }
        div + div {
            margin: 0 0 0 95px; 
        }
    }
    p {
        color: $secondary-color;
    }
    h4, a {
        color: #fff;
    }
    h4 {
        font-size: 1.5rem;
        margin-bottom: 8px;
    }
    .main-nav {
        height: 56px;
        .content {
            display: flex;
            justify-content: space-between;
            align-items: center;
            a {
                display: flex;
                align-items: center;
                height: 30px;
                font-size: 1.25rem;
                svg {
                    size: 100%;
                    margin-right: 8px;
                }
            }
            button {
                background-color: $bg-color;
                border: 1px solid $secondary-color;
                color: #fff;
                border-radius: 5px;
                width: 56px;
                height: 40px;
                padding: 8px 16px;
                display: flex;
                align-items: center;
                justify-content: center;
                cursor: pointer;
                :hover {
                    background-color: $secondary-color;
                    color: $bg-color;
                }
            }
        }
    }
}